@use './typography.scss' as *;
@use './settings.scss' as *;

:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: $background-color;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
