.weather__container {
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #010911, -4px -4px 8px #0a4377;
  display: block;
  margin: 100px auto 20px auto;
  padding: 30px;
  width: 600px;
}
